.character {
  padding: 2em 0;
  &-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2em;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 2fr;
    }
  }
  &-card {
    border-radius: 0.625rem;
    box-shadow: 0px 14px 38px rgba(39, 44, 49, 0.1),
    1px 3px 8px rgba(39, 44, 49, 0.03);
    overflow: hidden;
    @extend %fade;
    img {
      width: 100%;
    }
    h2 {
      font-size: 1.12rem;
      font-weight: 400;
      text-align: center;
    }
  }
  &-card:last-child {
    display: grid;
    row-gap: 1em;
    padding: 1em;
    h3 {
      margin: 0;
      font-size: 1.12rem;
      font-weight: 500;
      span {
        font-weight: 400;
      }
    }
  }
}