.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);
  img {
    width: 60%;
  }
  h2 {
    margin-top: 2em;
    margin-bottom: 0;
  }
}